<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns:tizen="http://tizen.org/ns/widgets" xmlns="http://www.w3.org/ns/widgets" id="http://yourdomain/SAPTizenClient" version="1.0.0" viewmodes="maximized">
    <tizen:application id="WGvCVP8H7a.SAPTizenClient" package="WGvCVP8H7a" required_version="2.3.1"/>
    <content src="index.html"/>
    <feature name="http://tizen.org/feature/sensor.heart_rate_monitor"/>
    <feature name="http://tizen.org/feature/screen.size.all"/>
    <feature name="http://tizen.org/feature/screen.size.normal"/>
    <icon src="stress.png"/>
    <tizen:metadata key="AccessoryServicesLocation" value="/res/xml/accessoryservices.xml"/>
    <name>Stress sensing</name>
    <tizen:privilege name="http://tizen.org/privilege/location"/>
    <tizen:privilege name="http://tizen.org/privilege/unlimitedstorage"/>
    <tizen:privilege name="http://tizen.org/privilege/healthinfo"/>
    <tizen:privilege name="http://developer.samsung.com/privilege/medicalinfo"/>
    <tizen:privilege name="http://tizen.org/privilege/content.read"/>
    <tizen:privilege name="http://tizen.org/privilege/content.write"/>
    <tizen:privilege name="http://tizen.org/privilege/filesystem.read"/>
    <tizen:privilege name="http://tizen.org/privilege/filesystem.write"/>
    <tizen:privilege name="http://tizen.org/privilege/mediastorage"/>
    <tizen:privilege name="http://tizen.org/privilege/application.launch"/>
    <tizen:privilege name="http://tizen.org/privilege/power"/>
    <tizen:profile name="wearable"/>
    <tizen:setting background-support="enable" encryption="disable" hwkey-event="enable"/>
</widget>
